
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    font-family: 'Hanken Grotesk';
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.attribution{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1%;
    font-size: .7rem;
}
.body-content{
    background-color:hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 15px 15px 15px 15px rgba(221, 218, 218, 0.322), 4px 4px 4px 4px rgba(226, 236, 245, 0.322);
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: row;
}
.first-content{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 100%;
    width: 350px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first-title{
    margin: 10%;
    color: hsl(241, 100%, 89%);
    font-size: 1.5rem;
    /* margin-bottom: 5%; */
}
.number-content{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
p{
    margin: 0%;
}
.head-number{
    font-size: 4rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.bottom-number{
    display: flex;
    justify-content: center;
    font-size: 1.20rem;
    color: hsl(241, 100%, 89%);
}
.great{
    margin: 8%; 
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3%;
}
.paragraph{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 18%;
    margin-top: 0%;
    color: hsl(241, 100%, 89%);
    font-size: 1rem;
    margin-bottom: 0%;
}
.second-content{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 350px;
}
.second-title{
    color: hsl(224, 30%, 27%);
    padding-left: 40px;
    font-size: 2rem;
    margin-bottom: 0%;
}
.list-content{
    padding-right: 40px;
    width: 280px;
    
}
.item-list{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 18px;
}

.reaction-content{
    background-color: hsla(0, 100%, 67%, 0.11);
    color: hsla(0, 100%, 67%); 
}

.memory-content{
    background-color: hsla(39, 100%, 56%, 0.11);
    color: hsla(39, 100%, 56%);
}

.verbal-content{
    background-color: hsl(166, 100%, 37%, 0.11);
    color: hsl(166, 100%, 37%);
}
.visual-content{
    background-color: hsl(234, 85%, 45%, 0.11);
    color: hsl(234, 85%, 45%);
}

.text{
    margin-left: 5%;
    width: 400px;
    font-size: 1.3rem;
}
.numbers{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}
.first-number{
    margin-right: 10%;
    color: hsl(224, 30%, 27%);
    font-weight: bold;
}
.second-number{
    color: hsl(225, 10%, 51%);
}
.btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px){
    .body-content{
        flex-direction: column;
        width: 350px;
        height: 950px;
    }
    .paragraph{
        margin: 5%;
        margin-top: 0%;
    }
    .second-title{
        padding-left: 40px;
    }
    ul{
        padding-left: 40px;
    }
    .first-content{
        height: 450px;
    }
    .second-content{
        height: 500px;
    }
}
.btn{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 1.25rem;
}
.btn:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
ul{
    list-style: none;
}
